.wrapper {
	margin: 0 auto 100px auto;
	max-width: 960px;
}

.stage {
	list-style: none;
	padding: 0;
}

.slide_title {
    font-family: 'Nanum Pen Script', serif;
}
.slide_title2 {
    font-family: 'Nanum Pen Script', serif;
}
/*************************************
Build the scene and rotate on hover
**************************************/

.scene {
	width: 220px;
	height: 140px;
	margin: 30px;
	float: left;
	-webkit-perspective: 1000px;
	perspective: 1000px;
}

.movie {
	width: 220px;
	height: 140px;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: translateZ(-130px);
	transform: translateZ(-130px);
	-webkit-transition: -webkit-transform 350ms;
	transition: -webkit-transform 350ms;
	transition: transform 350ms;
	transition: transform 350ms, -webkit-transform 350ms;
}

.movie:hover {
	-ms-transform: rotateY(-78deg) translateZ(20px);
	-webkit-transform: rotateY(-78deg) translateZ(20px);
	transform: rotateY(-78deg) translateZ(20px);
}

/*************************************
Transform and style the two planes
**************************************/
.movie .poster,
.movie .info {
	position: absolute;
	width: 220px;
	height: 140px;
	background-color: #fff;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.movie .poster  {
	-webkit-transform: translateZ(120px);
	transform: translateZ(120px);
	background-size: cover;
	background-repeat: no-repeat;
}

.movie .info {
	-webkit-transform: rotateY(85deg) translateZ(120px);
	transform: rotateY(85deg) translateZ(120px);
	border: 1px solid #B8B5B5;
	font-size: 0.75em;
}

/*************************************
Shadow beneath the 3D object
**************************************/

.csstransforms3d .movie::after {
	content: '';
	width: 260px;
	height: 260px;
	position: absolute;
	bottom: 0;
	box-shadow: 0 30px 50px rgba(0,0,0,0.3);
	-webkit-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
	-webkit-transform: rotateX(90deg) translateY(130px);
	transform: rotateX(90deg) translateY(130px);
	-webkit-transition: box-shadow 350ms;
	transition: box-shadow 350ms;
}

.csstransforms3d .movie:hover::after {
	box-shadow: 20px -5px 50px rgba(0,0,0,0.3);
}

/*************************************
Movie information
**************************************/

.info header {
	color: #FFF;
	padding: 7px 10px;
	font-weight: bold;
	height: 195px;
	background-size: contain;
	background-repeat: no-repeat;
	text-shadow: 0px 1px 1px rgba(0,0,0,1);
}

.info header h1 {
	margin: 0 0 2px;
	font-size: 1.4em;
}

.info header .rating {
	border: 1px solid #FFF;
	padding: 0px 3px;
}

.info p {
	padding: 1.2em 1.4em;
	margin: 2px 0 0;
	font-weight: 700;
	color: #666;
	line-height: 1.4em;
	border-top: 10px solid #555;
}

/*************************************
Generate "lighting" using box shadows
**************************************/

.movie .poster,
.movie .info,
.movie .info header {
	-webkit-transition: box-shadow 350ms;
	transition: box-shadow 350ms;
}

.csstransforms3d .movie .poster {
	box-shadow: inset 0px 0px 40px rgba(255,255,255,0);
}

.csstransforms3d .movie:hover .poster {
	box-shadow: inset 300px 0px 40px rgba(255,255,255,0.8);
}

.csstransforms3d .movie .info,
.csstransforms3d .movie .info header {
	box-shadow: inset -300px 0px 40px rgba(0,0,0,0.5);
}

.csstransforms3d .movie:hover .info,
.csstransforms3d .movie:hover .info header {
	box-shadow: inset 0px 0px 40px rgba(0,0,0,0);
}

/*************************************
Posters and still images (first)
**************************************/
.poster {
    text-align: center;
}

.poster span {
	display: block;
	font-weight: 400;
	letter-spacing: 1px;
	font-size: 1.3em;
	padding: 5px;
}
.scene.first:nth-child(1) .movie .poster {
  background-color: #42282F;

}

.scene.first:nth-child(2) .poster {
  background-color: #42282F;
}

.scene.first:nth-child(3) .poster {
  background-color: #74A588;
}

.scene.first:nth-child(1) .info header {
	background-image: url(../../imgs/still01.jpeg);
}

.scene.first:nth-child(2) .info header {
	background-image: url(../../imgs/still02.jpeg);
}

.scene.first:nth-child(3) .info header {
	background-image: url(../../imgs/still03.jpeg);
}

/*************************************
Posters and still images (second)
**************************************/

.scene.second:nth-child(1) .movie .poster {
  background-color: #D6655A;
}

.scene.second:nth-child(2) .poster {
  background-color: #74A588;
}

.scene.second:nth-child(3) .poster {
  background-color: #DC9C76;
}

.scene.second:nth-child(1) .info header {
	background-image: url(../../imgs/moonsuyeon.jpeg);
}

.scene.second:nth-child(2) .info header {
	background-image: url(../../imgs/choyonghwan.png);
}

.scene.second:nth-child(3) .info header {
	background-image: url(../../imgs/woojongmin.jpeg);
}

/*************************************
Posters and still images (third)
**************************************/

.scene.third:nth-child(1) .movie .poster {
  background-color: #42282F;
}

.scene.third:nth-child(2) .poster {
  background-color: #42282F;
}

.scene.third:nth-child(3) .poster {
  background-color: #D6CCAD;
}

.scene.third:nth-child(1) .info header {
	background-image: url(../../imgs/parkseongmin.jpeg);
}

.scene.third:nth-child(2) .info header {
	background-image: url(../../imgs/leejeongwoong.jpeg);
}

.scene.third:nth-child(3) .info header {
	background-image: url(../../imgs/kimkyungtae.jpeg);
}

/*************************************
Posters and still images (fourth)
**************************************/

.scene.fourth:nth-child(1) .movie .poster {
  background-color: #865754;
}

.scene.fourth:nth-child(2) .poster {
  background-color: #865754;
}

.scene.fourth:nth-child(3) .poster {
  background-color: #DC9C76;
}

.scene.fourth:nth-child(1) .info header {
	background-image: url(../../imgs/kimjinseok.jpeg);
}

.scene.fourth:nth-child(2) .info header {
	background-image: url(../../imgs/kimjinyoung.jpeg);
}

.scene.fourth:nth-child(3) .info header {
	background-image: url(../../imgs/seojeongeun.jpeg);
}
/*************************************
Fallback
**************************************/
.no-csstransforms3d .movie .poster,
.no-csstransforms3d .movie .info {
	position: relative;
}

/*************************************
Media Queries
**************************************/
@media screen and (max-width: 60.75em){
	.scene {
		float: none;
		margin: 20px auto;
	}
}
